html { 
  height:100%; 
}
body {
  background: #1f2a2d;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 500;
  margin: 0 auto;
  padding: 0;
  height:100%; 
}


button {
  font-size: 200%;
  font-weight: 500;
  padding: 15px;
  margin: 15px;
  background: #5e7e87;
  border: 4px solid #000;
  display: inline;
  cursor: pointer;
  max-width: 200px;
}

button:active {
  transform: translateY(1px);
  background-color: #96afb6;
}

#boot-buttons {
  background: #0f1517;
  height:100%; 
}

#presets-buttons > button {
  box-shadow: 5px 5px 5px #92fc8a40;
}

#boot-buttons > button {
  box-shadow: 5px 5px 5px #92fc8a40;
  float: left;
}

#get-all {
  opacity: 0.8;
  background: #73875e;
}

#online-check > span {
  display: block;
  padding: 20px;
  min-height: 50px;
  opacity: 0.6;
  font-weight: 900;
  font-size: 500%;
  border-bottom: 4px solid #000;
  color: #1f2a2d; 
  background-color: #fcfc40;
}

.red {
  background-color: #fc7f41 !important;
}

.green {
  background-color: #92fc8a !important;
}

img.logo {
  display: block;
  float: right;
  height: 50px;
}
